/* this is the css for the full body  */
body{
    padding: 0px;
    margin: 0px;
    background-color: black;
    color: white;
}
/* header of the page  */
#heading{
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 90%;
    padding: 20px 50px;
    font-size: 2rem;
    font-weight: 100;
    margin-top: 20px;
    font-family: 'Abel', sans-serif;
}
/* header button div css */
#btns{
    padding-right: 50px;
    
}
#btns button , #home{
    border: none;
    background: none;
    font-size: 1.5rem;
    font-family: 'Abel', sans-serif;
}
#btns button:hover{
    border: none;
    background: none;
    color: rgb(183, 148, 148);
    cursor: pointer;
}
/* clear all the fav movies  */
#clear-whole-list{
    color: red;
}
/* movies element cart  */
#list-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.movie-details{
    margin: 20px;
    border-radius: 20px;
}
/* movie image  */
#movieimg{
    border-radius: 20px;
    height: 420px;
    width: 310px;
}
#details{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}
.title{
    max-width: 200px;
    font-family: 'Abel', sans-serif;
}
.title a{
    font-size: 1.8rem;
    color: white;
    text-decoration: none;
}
/* remove movie icon  */
#removeicon{
    font-size: 1.6rem;
    color: red;
}

